@using Education.Models
@model TeacherModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSchool.cshtml";
}
<style>
	.table th{
		color:black;
		font-size:medium;
	}
      label {
        font-family: Times, Times New Roman, Georgia, serif;
        color: black;
        font-size: small;
        font-weight: bold;
    }

    .font {
        font-family: Times, Times New Roman, Georgia, serif;
        color: black;
        font-size: small;
        font-weight: bold;
    }
</style>
@using (Html.BeginForm("Index", "Teacher", FormMethod.Post))
{

	<div class="card shadow mb-4">
		<div class="card-header">
			<strong class="card-title">Form controls</strong>
		</div>
		@Html.HiddenFor(a=>a.Check)
		@Html.HiddenFor(a => a.ID)
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group mb-3">
						<label for="simpleinput">Name</label>
						@Html.TextBoxFor(a => a.Name, new { @class = "form-control" })

					</div>
					<div class="form-group mb-3">
						<label for="simpleinput">SchoolName</label>
						@Html.TextBoxFor(a => a.SchoolId, new { @class = "form-control" })
					</div>
					<div class="form-group mb-3">
						<label for="simpleinput">Mobile</label>
						@Html.TextBoxFor(a => a.Mobile, new { @class = "form-control" })
					</div>

				</div> <!-- /.col -->
				<div class="col-md-6">
					<div class="form-group mb-3">
						<label for="simpleinput">Email</label>
						@Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
					</div>
					<div class="form-group mb-3">
						<label for="simpleinput">BirthDate</label>
						@Html.TextBoxFor(a => a.BirthDate, new { @class = "form-control drgpicker" })
					</div>
					<div class="form-group mb-3">
						<label for="simpleinput">Address</label>
						@Html.TextBoxFor(a => a.Address, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<button class="btn btn-primary">
					حفظ
				</button>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">@ViewBag.Title</div>
			<div class="panel-body">
				<div class="form-group">
					<div class="table-responsive">
						<table data-order='[]' class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
								<tr>
									<th>ر.ت</th>
									<th>الاسم</th>
									<th>الموقع </th>
									<th> الهاتف</th>
									<th>تعديل</th>
									<th>حذف</th>
								</tr>
							</thead>
							<tbody>
								@{
									var count = 0;
									
									}
								@foreach (var item in Model.TeacherGridView)
								{
									count++;
									<tr class="odd gradeX">
										<td>@count</td>
										<td>@Html.DisplayFor(modelItem => item.Name, new { @class = "font" })</td>
										<td>@Html.DisplayFor(modelItem => item.Address, new { @class = "font" })</td>
										<td>@Html.DisplayFor(modelItem => item.Mobile, new { @class = "font" })</td>
										<td>
											<button name="editjobId" value="@item.Id" class="btn btn-info">تعديل</button>
										</td>
										<td>
											<button name="deletejobId" value="@item.Id" class="btn btn-danger">حذف</button>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
									}